
.card{
    padding: 5%;
    margin-top: 20%;
    background-color: lightslategray;
}
.container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKWKkh1YmMIAPX3laXnTF__P84Xb7mPGppvg&usqp=CAU");
}